body{
    background-image: url("https://get.wallhere.com/photo/illustration-simple-background-abstract-smoke-four-elements-light-flame-darkness-computer-wallpaper-font-92652.jpg");
    background-position: center;
    background-attachment: fixed;
}
.title{
    font-size: 80px;
    color: white;
    text-align: center; 
}
.home{
    margin: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-items: end;
}
.container-pokemon{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-top: 40px;
}
.pokemon-block{
    background-color: white;
    padding: 10px;
    border-radius: 10px;

}
.img-container{
    text-align: center;
}
p{
    text-align: center;
    font-weight: bold;
}